@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap');

html {
    height: 100%;
    width: 100%;
}

body {
    background-color: rgb(240, 242, 245);
    font-family:'Fuzzy Bubbles', sans-serif;
    font-weight: 800;
    font-style: normal;
}


h3 {
    color: rgb(34, 139, 94);
}

.blue {
    color: rgb(26, 94, 184);
}

.red {
    color: rgb(186, 45, 61);
}

h5 {
  cursor: pointer;
}

